.container {
    padding: 40px var(--padding-horizontal-padrao);
}

#divListaLivros {
    display: flex;
    justify-content: center;
    gap: 35px;
    flex-wrap: wrap;
}

.livro {

    position: relative;
    width: 280px;

}

.livro .capa {
    height: 425px;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}



.livro.disabled .capa {
    filter: grayscale(1);
}

.livro p {
    color: #242865;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

.livro .autor {
    display: flex;
    align-items: center;
    justify-content: center;
} 

.livro button {
    color: #242865;
    display: block;
    padding: 5px;
    width: 100%;
    border-radius: 10px;
    font-size: 16px;

}

.botao-emprestar {
    background-color: var(--amarelo);
    border: 0px;
    margin-bottom: 10px;
}

.livro.disabled .botao-emprestar {
    filter: grayscale(1);
    cursor: not-allowed;

}

.botao-detalhes-livro {
    border: solid var(--azul) 1.5px;
    background-color: transparent;
}

.livro .botao-favoritar {
    position: absolute;
    top: 3px;
    right: 3px;
    width: 35px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    background-color: transparent;
}

.botao-favoritar img {
    width: 100%;
}

.swal2-actions .swal2-confirm a {
    color: #fff;
}