.container {
    padding: 40px var(--padding-horizontal-padrao);
}

#listaLivros {
    display: flex;
    column-gap: 25px;
    row-gap: 30px;
    flex-wrap: wrap;
}


.livro img {
    height: 325px;
    width: 225px;
    border-radius: 10px;
}


.livro.indisponivel img {
    filter: grayscale(1);
}

.livro p {
    color: #242865;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

.livro button {
    color: #242865;
    display: block;
    padding: 5px;
    width: 100%;
    border-radius: 10px;
    font-size: 16px;

}

.botao-emprestar {
    background-color: var(--amarelo);
    border: 0px;
    margin-bottom: 10px;
}

.livro.indisponivel .botao-emprestar {
    filter: grayscale(1);
    cursor: not-allowed;

}

.botao-detalhes-livro {
    border: solid var(--azul) 1.5px;
    background-color: transparent;
}

#modalDetalhesLivro {
    margin: auto;
    padding: 40px 30px;
    border-radius: 15px;
    position: relative;
    border: solid 0.5px var(--azul);
}

dialog[open] {
    display: flex;
    column-gap: 50px;
    justify-content: center;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.7);
}

#modalDetalhesLivro .fechar {
    position: absolute;
    top: 8px;
    right: 8px;

    width: 25px;
    height: 25px;

    font-size: 16px;
    border-radius: 50%;
    border: 1px solid #000;
}

#modalDetalhesLivro .titulo {
    font-size: 26px;
}

#modalDetalhesLivro .autor {
    font-size: 24px;
    color: #565959;
    margin-bottom: 20px;
}

#modalDetalhesLivro .detalhes-adicionais {
    display: flex;
    align-items: center;
    column-gap: 45px;
    margin-bottom: 20px;

    font-size: 20px;
}

#modalDetalhesLivro .detalhes-adicionais span {
    color: #565959;
    font-size: 22px;
}

#modalDetalhesLivro .descricao {
    font-size: 22px;
    max-width: 580px;
}

#modalDetalhesLivro img {
    height: 350px;
    border-radius: 10px;
}

.swal2-actions .swal2-confirm a {
    color: #fff;
} 