#container {
    display: flex;
    align-items: center;

    height: 90vh;
    position: relative;
    padding: 0 var(--padding-horizontal-padrao);
}

#container .imagem-pessoa-lendo-home {
    width: 800px;
}

h1 {
    font-size: 50px;
    color: #050E50;
}

span {
    color: #555EB8;
}


#container p {
    color: #525252;
    font-size: 24px;
    max-width: 800px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-wrap: balance;
}

#container .link-catalogo {
    display: block;
    font-size: 20px;
    color: #050E50;
    width: max-content;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--amarelo);
}

.dashboard-link {
    padding: 5px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #fff;
    border: 2px solid #155e9d;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);

    /* animation: jump 1.1s 5s infinite; */
}

.dashboard-link img {
    width: 30px;
    height: 30px;
}

#faq {
    height: 100vh;
    padding: 30px var(--padding-horizontal-padrao);
}

.container-faq {
    display: flex;
    align-items: center;
    column-gap: 50px;
    justify-content: space-around;
}

.titulo-faq {
    font-size: 45px;
    margin-bottom: 15px;

    display: flex;
    column-gap: 10px;
    align-items: center;
    justify-content: center;
    color: #050E50;
}

.paragrafo1 {
    font-size: 24px;            
    margin-bottom: 60px;
    text-align: center;
    color: #050E50;
}

.faq {
    max-width: 900px;
}

.faq li {
    width: 100%;
    margin-bottom: 10px;
}

.faq li label {
    font-size: 24px;
    /* font-weight: 500; isso só funciona a depender da familia de fonte escolhida */
    background-color: #155D9C;
    color: #ffff;
    cursor: pointer;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.faq li label::after {
    content: '+';
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    width: 30px;
    height: 30px;
    background-color: #242865;
    border-radius: 50%;
    transition: background-color .5s;
}

.faq input[type=checkbox] {
    display: none;
}

.faq .resposta {
    background-color: #0f406c;
    color: #ffff;
    padding: 0px 14px;
    line-height: 32px;
    max-height: 0;
    font-size: 22px;
    /* isso faz com que a caixa que estava guardando as respostas encolha = respostas vazadas*/
    overflow: hidden;
    /* isso significa que tudo que ficar vazado da estrutura ficará escondido */
    transition: max-height .5s, padding .5s;
}

.faq .resposta a,
.faq .resposta a:visited
 {
    color: #ffffff;
    text-decoration: underline;
}

.faq .resposta strong {
    color: var(--amarelo);
}

.faq input[type=checkbox]:checked+label+.resposta {
    padding: 20px;
    max-height: 400px;
}

/* isso pega o momento em que o input estiver checked = selecionado/marcado para aplicar um estilo, no caso vai aplicar um sinal de mais, chamar o label outro + e chamar a class .resposta*/

.faq input[type=checkbox]:checked+label::after {
    content: '-';
    font-size: 50px;
    color: #0f406c;
    background-color: #FFC100;

}

@keyframes jump {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }

    50% {
        opacity: 0.5;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}